<template>
    <div class="home">
        <img alt="Vue logo" src="../assets/logo.png">
        <div>
            <button style="margin-left: 2px;" @click="onClicked('default')">
                Default Theme
            </button>
            <button style="margin-left: 2px;" @click="onClicked('seagreen')">
                Seagreen Theme
            </button>
            <button style="margin-left: 2px;" @click="onClicked('skyblue')">
                Skyblue Theme
            </button>
        </div>
        <HelloWorld msg="Welcome to Your Vue.js App"/>
        <h3>Emoji</h3>
        <div id="emoji" />
        <hr>
        <h3>Star 1</h3>
        <div id="star" />
        <hr>
        <h3>Star 2</h3>
        <div id="rater" />
        <br>
        <div id="live-rating" />
        <hr>
        <h3>Feedback</h3>
        <div id="feedback" />
        <hr>
        <h3>Slider 1</h3>
        <div id="item-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li v-for="item in lists" :key="item.id" class="splide__slide">
                        {{ item.title }}
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <h3>Slider 2 - Image</h3>
        <div id="image-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li v-for="item in images" :key="item.id" class="splide__slide">
                        <img :src="item.image">
                        <h4>{{ item.title }}</h4>
                        <div>{{ item.description }}</div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <h3>Slider 3 - Thumbnail</h3>
        <div id="thumb-primary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li v-for="item in thumbs" :key="item.id" class="splide__slide">
                        <img :src="item.image">
                    </li>
                </ul>
            </div>
        </div>
        <div id="thumb-secondary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li v-for="item in thumbs" :key="item.id" class="splide__slide">
                        <img :src="item.image">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
// import '@splidejs/splide/dist/css/splide-core.min.css'
import '@splidejs/splide/dist/css/splide.min.css'
// import '@splidejs/splide/dist/css/themes/splide-default.min.css'
// import '@splidejs/splide/dist/css/themes/splide-sea-green.min.css'
// import '@splidejs/splide/dist/css/themes/splide-skyblue.min.css'
import '@splidejs/splide/dist/js/splide.min.js'
import 'emotion-ratings/dist/emotion-ratings.min.js'
import feedback from 'smiley-feedback/dist/index.js'
import rater from 'rater-js'

export default {
    name: 'Home',
    components: {
        HelloWorld: () => import('@/components/HelloWorld.vue')
    },
    data() {
        return {
            lists: [],
            images: [],
            thumbs: []
        }
    },
    mounted() {
        console.log($('body').text())
        const thumbImg = 'https://splidejs.com/wp-content/themes/splide/assets/images/slides'
        this.lists = [
            { id: 'item-1', title: 'Slide 01' },
            { id: 'item-2', title: 'Slide 02' },
            { id: 'item-3', title: 'Slide 03' }
        ]
        this.images = [
            { id: 'img-01', title: 'Heading 01', description: 'Description 01', image: 'https://splidejs.com/wp-content/themes/splide/assets/images/slim/02.jpg' },
            { id: 'img-02', title: 'Heading 02', description: 'Description 02', image: 'https://splidejs.com/wp-content/themes/splide/assets/images/slim/05.jpg' },
            { id: 'img-03', title: 'Heading 03', description: 'Description 03', image: 'https://splidejs.com/wp-content/themes/splide/assets/images/slim/06.jpg' }
        ]
        this.thumbs = []
        for (let i = 0; i < 9; i++) {
            this.thumbs.push({ id: `thumb-${i + 1}`, image: `${thumbImg}/0${i + 1}.jpg`})
        }

        import('@/assets/style.css')
        .then((value) => {
            console.log(value)
        }).catch((err) => {
            console.error(err)
        })
        
        setTimeout(() => {
            this.initialized()
        }, 1500)
    },
    methods: {
        initialized() {
            $('#emoji').emotionsRating({
                emotionSize: 30,
                bgEmotion: 'happy',
                emotions: ['angry', 'disappointed', 'meh', 'happy', 'inLove'],
                color: '#FF0066', // the color must be expressed with a css code
                initialRating: 3, // initialize the rating number
                disabled: false, // set if the rating can be changed or not, default is false
                onUpdate: function(value) {} //set value changed event handler
            })

            $('#star').emotionsRating({
                emotionSize: 30,
                bgEmotion: 'star',
                emotions: ['star'],
                color: '#FF0066', 
                initialRating: 4,
                disabled: false,
                onUpdate: function(value) {
                    console.log(value)
                }
            })

            rater({
                starSize: 32,
                step: 1,
                element: document.querySelector('#rater'), 
                rateCallback: function (rating, done) {
                    this.setRating(rating)
                    done()
                },
                onHover: function(currentIndex, currentRating){
                    document.querySelector('#live-rating').textContent = currentIndex
                },
                onLeave: function(currentIndex, currentRating){
                    document.querySelector('#live-rating').textContent = currentRating
                }
            })

            new Splide('#item-slider').mount()
            new Splide('#image-slider', {
                type: 'loop', // fade, loop
                lazyLoad: 'sequential',
                perPage: 2,
                perMove: 1,
                gap: '1rem',
                focus: 'center',
                rewind: true,
                height: '20rem',
                autoWidth: true,
                autoplay: true,
                cover: false,
                fixedWidth  : 100,
                fixedHeight : 64,
                isNavigation: true,
                heightRatio: 0.5,
                pagination: true,
                arrows: true,
                // direction: 'rtl',
                padding: {
                    right: '5rem',
                    left: '5rem'
                },
                breakpoints: {
                    '640': {
                        perPage: 2,
                        gap: '1rem'
                    },
                    '480': {
                        perPage: 1,
                        gap: '1rem'
                    }
	            }
            }).mount()

            // Create and mount the thumbnails slider.
            const secondarySlider = new Splide( '#thumb-secondary-slider', {
                rewind: true,
                fixedWidth: 100,
                fixedHeight: 64,
                isNavigation: true,
                gap: 10,
                focus: 'center',
                pagination: false,
                cover: true,
                breakpoints : {
                    '600': {
                        fixedWidth: 66,
                        fixedHeight: 40,
                    }
                }
            }).mount()
            // Create the main slider.
            const primarySlider = new Splide( '#thumb-primary-slider', {
                type: 'fade',
                heightRatio: 0.5,
                pagination : false,
                arrows: false,
                cover: true
            })
            // Set the thumbnails slider as a sync target and then call mount.
            primarySlider.sync(secondarySlider).mount()

            const feedBody = document.getElementById('feedback')
            if (feedBody) {
                feedBody.innerHTML = ''
                feedBody.appendChild(feedback({
                    onSubmit: ({ smiling, frowning, text }) => {
                        // do something with the user's feedback
                    }
                }))
            }
        },
        onClicked(theme) {
            switch (theme) {
                case 'seagreen':
                    import('@splidejs/splide/dist/css/themes/splide-sea-green.min.css')
                    break
                case 'skyblue':
                    import('@splidejs/splide/dist/css/themes/splide-skyblue.min.css')
                    break
                default:
                    import('@splidejs/splide/dist/css/themes/splide-default.min.css')
                    break
            }
        }
    }
}
</script>
